body {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav a {
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 10px 16px;
    color: inherit;
    text-size-adjust: inherit;
    text-justify: auto;
}

.topnav-right {
    float: right;
}

.email-img {
    height: 100px;
}

.topnav img {
    width: 100%;
    height: 25px;
    padding-top: 0;
}

.logo-img {
    max-height: 100%;
    max-width: 100%;
    object-position: center bottom;
    width: auto;
    height: 250px;
    padding-left: 250px;
    padding-top: 0;
}


/* .main-logo img {
    width: 35%;
    height: 250px;
    padding-left: 250px;
    padding-top: 0;
} */

.main-bar {
    width: 500px;
    display: inline-block;
    /* padding-right: 250px; */
    padding-left: 400px;
}

.search-bar {
    width: 100%;
}

#icon {
    background-image: white url(../images/search.png) no-repeat;
    background-position: 2px 3px;
    background-color: rgb(160, 139, 22);
    /* padding-left: 17px; */
}